.modal {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 99;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.visible {
    display: flex;
  }

  &__overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    z-index: 99;
    @media (max-width: 600px){
      background-color: #fff;
    }
  }

  &__dialog {
    border-radius: 15px;
    height: 560px;
    overflow: hidden;
    z-index: 100;
    @media (max-width: 376px){
      margin-top: 50px;
    }
    @media (max-width: 320px){
      margin-top: 130px;
    }
  }

  &__content {
    padding: 20px 6px 22px 30px;
    max-width: 510px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #FFFFFF;
    z-index: 200;
    @media (max-width: 600px){
      width: 100%;
    }
    @media (max-width: 450px) {
      padding: 0 5px 0 10px;
    }
  }

  &__form {
    padding-bottom: 15px;
  }

  &__title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 15px;
  }

  &__label {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 30px;
    position: relative;

    &::after {
      content: "";
      display: none;
      width: 20px;
      height: 20px;
      background-image: url('../images/error.svg');
      background-repeat: no-repeat;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(23%);

      @media (max-width:550px) {
        right: 45px;
        transform: translateY(23%);
      }

      @media (max-width:450px) {
        right: 35px;
        transform: translateY(20%);
      }
    }

    &::before {
      display: none;
      content: "";
      width: 20px;
      height: 20px;
      background-image: url('../images/ok.svg');
      background-repeat: no-repeat;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(23%);

      @media (max-width:550px) {
        right: 45px;
        transform: translateY(23%);
      }

      @media (max-width:450px) {
        right: 35px;
        transform: translateY(20%);
      }
    }

    &.valid {
      &::before {
        display: block;
      }

      &::after {
        display: none;
      }

      .modal__error {
        display: none;
      }
    }

    &.invalid {
      input {
        border: 2px solid #F08B98;
      }

      &::after {
        display: block;
      }

      &::before {
        display: none;
      }

      .modal__error {
        display: block;
      }
    }
    span{
      @media (max-width:450px){
        position: absolute;
        right: 21px;
      }
    }
  }

  &__error {
    @extend %museoSans;
    display: none;
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 10px;
    line-height: 16px;
    color: #FF304C;
  }

  &__input,
  &__textarea {
    box-sizing: border-box;
    width: 440px;
    height: 50px;
    display: block;
    padding: 13px 20px;
    border-radius: 100px;
    background: rgba(240, 139, 152, 0.05);
    border: 2px solid rgba(240, 139, 152, 0.3);
    // margin-top: 5px;
    outline: none;

    @media (max-width: 550px) {
      width: 350px;
    }

    @media (max-width: 450px) {
      width: 281px;
    }

    @media (max-width: 330px) {
      width: 270px;
    }
  }

  &__textarea {
    height: 246px;
    border-radius: 25px;
    resize: none;
    overflow: auto;
  }

  &__agree {
    display: block;
    @extend %museoSans;
    font-size: 12px;
    line-height: 16px;
    max-width: 407px;

    @media (max-width: 550px) {
      max-width: 350px;
    }

    @media (max-width: 450px) {
      max-width: 240px;
      text-align: justify;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer
  }

  &__checkbox-hide {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;

    &:checked+.modal__checkbox {
      background: rgba(240, 139, 152, 0.05);

      &::after {
        content: "\2714";
        position: absolute;
        top: -5px;
        left: 3px;
      }
    }
  }

  &__checkbox {
    display: block;
    border: 2px solid #F08B98;
    border-radius: 6px;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  &__label--text {
    display: flex;

    &::after,
    &::before {
      display: none;
    }

    @media (max-width: 450px) {
      width: 281px;
    }
  }

  &__label--textarea {

    &:before,
    &:after {
      display: none;
    }
  }

  &__btn {
    width: 300px;
    height: 50px;
    background: #F08B98;
    opacity: .2;
    color: #FFFFFF;
    border-radius: 100px;
    cursor: default;
    font-size: 16px;
    line-height: 19px;

    &.able {
      opacity: 1;
      cursor: pointer;
    }

    @media (max-width: 330px) {
      width: 270px;
    }
  }

  &__mobile {
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    padding-top: 100px;
    display: none;
    z-index: 99;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;

    .modal__content {
      width: 100%;
    }

    &.appear {
      display: flex;
    }

  }
}

.mCSB_dragger_bar {
  background-color: #F08B98 !important;
  width: 4px !important;

  @media (max-width: 450px) {
    margin: 0 !important;
  }
}

.mCSB_draggerRail {
  width: 4px !important;

  @media (max-width: 450px) {
    margin: 0 !important;
  }
}

