.container,
.container-drop{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  @media (max-width: 1300px){
    max-width: 1000px;
  }
}
input:-webkit-autofill, 
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active { 
  transition: background-color 5000s ease-in-out 0s;
}
body{
  @extend %museo-500;
  &.noScroll{
    max-height: 100vh;
    overflow: hidden;
  }
}
.container-shop{
  max-width: 1055px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: #fff;
  height: 800px;
  @media (max-width: 780px){
    max-width: 450px;
    padding: 0 10px;
  }
}