.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;

  @media (max-width: 600px) {
    display: none;
  }
}

.header {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.132586);
  width: 100%;
  padding: 10px 0;
  transition: all .3s;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

    &.scroll {
      position: fixed;
    }

  &__btn {
    position: relative;
    width: 23px;
    height: 13px;
    padding: 10px;
    outline: none;

    &::after{
      content:"";
      background-image: url('../images/burger.svg');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      width: 23px;
      height: 13px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &::before{
      content:"";
      background-image: url('../images/close.svg');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      width: 30px;
      height: 30px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }
    display: none;
    @media (max-width: 1000px) {
      display: block;
    }
    &.close{
      &::after{
        display: none;
      }
      &::before{
       display: block;
      }
      
    }
  }

  &__btn-close {
    display: none;
  }

  @media (max-width: 600px) {
    z-index: 999;
  }

  @media (max-width: 500px) {
    background: rgba(255, 255, 255, 0);
    box-shadow: none;

    &.up {
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.132586);
    }
  }
}

.overlay {
  min-width: 100%;
  min-height: 100vh;
  background-image: url('../images/bg_video.png');
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  @media (max-width: 600px) {
    background-image: url('../images/smobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
  }

  @media (max-width: 450px) {
    background-image: url('../images/xsmobile.jpg');
  }
}

.overlay__mob {
  min-width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.12);
  display: none;

  @media (max-width: 600px) {
    display: block;
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;

  @media (max-width: 420px) {
    min-height: 118vh;
  }

  @media (max-width: 330px) {
    min-height: 125vh;
  }

  @media (max-height: 720px) {
    min-height: 125vh;

    @media (max-width: 420px) {
      min-height: 120vh;
    }
  }
}

.menu {
  @media (max-width: 1000px) {
    display: none;
  }

  font-size: 16px;
  line-height: 19px;

  &__items {
    display: flex;
  }

  &__item {
    position: relative;
  }

  &__arrow{
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-right: 1px solid #F08B98;
    border-top:1px solid #F08B98;
    transform: rotate(-45deg) translateX(-50%);
    position: absolute;
    bottom: -26px;
    right: calc((100% - 38px)/2);
    opacity: 0;
    transition: .8s;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    position: relative;
    padding-left: 38px;
    padding-right: 13px;
    transition: .3s;
    z-index:50;
    &:hover,
    &.active {
      color: #F08B98;

      svg path {
        stroke: #F08B98;
      }
      .menu__arrow{
        opacity: 1;
      }
    }

    @media (max-width:1300px) {
      &::before {
        display: none;
      }
    }
  }

  &__link--1::before,
  &__link--2::before,
  &__link--3::before,
  &__link--4::before {
    content: "";
    width: 30px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__link--1::before {
    background-image: url('../images/lak.svg');
  }

  &__link--2::before {
    background-image: url('../images/fen.svg');
  }

  &__link--3::before {
    background-image: url('../images/ring.svg');
  }

  &__link--4::before {
    background-image: url('../images/girl.svg');
  }

  &__svg {
    path {
      transition: stroke .3s;
    }

    &.on {
      transform: rotate(180deg)
    }

    @media (max-width:1300px) {
      position: absolute;
      left: 18px;
      top: 7px;
    }
  }

  &__dropdown {
    width: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 70px;
    border-bottom: 1px solid #F08B98;
    border-top: 1px solid #F08B98;
    transform: translateY(-1000px);
    transition: transform .7s;

  }

  &__dropdown.show {
    transform: translateY(0);
  }

  &__dropdown-inner {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 54px 0;

  }

  &__dropdown-link {
    @extend %museo-700;
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    transition: .3s;

    &:hover {
      color: #F08B98;
    }

  }

  &__inner-img {
    border-radius: 27px;
    width: 220px;
    height: 132px;
    overflow: hidden;
    object-fit: cover;
  }

  &__inner-link {
    @extend %museoSans;
    display: block;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
    transition: .3s;

    &:hover {
      color: #F08B98;
    }
  }

  &__inner-items {
    position: relative;
  }

  &__inner-items::after {
    content: "";
    width: 1px;
    height: 200px;
    background-color: rgba(240, 139, 152, 0.15);
    position: absolute;
    right: -100px;
    top: -40px;
  }
}

.user-nav {
  display: flex;
  position: relative;

  svg path {
    transition: fill .3s;
  }

  &__link {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover {
      svg path {
        fill: #F08B98;
      }
    }

  }

  &__link--2,
  &__link--3 {
    @media (max-width: 1000px) {
      display: none;
    }
  }

}

.active {
  transform: rotate(180deg) translateY(25%);
}

.class {
  &__title {
    color: #fff;
    font-size: 72px;
    line-height: 84px;
    margin-bottom: 15px;

    @media (max-width:600px) {
      font-size: 50px;
    }

    @media (max-width:350px) {
      font-size: 36px;
      line-height: 50px;
    }

  }

  &__btn {
    width: 208px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #F08B98;
    border-radius: 23px;
    margin: 0 auto;
  }

  @media (max-width:600px) {
    transform: translateY(67%)
  }
}

.shop {
  max-width: 1300px;
  min-width: 1300px;
  margin-bottom: -500px;
  background-color: #fff;
  padding: 25px 10px 35px 10px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  height: 800px;

  &__items {
    display: flex;
    justify-content: space-between;

    @media (max-width: 780px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 14%;
    height: 160px;
    padding-top: 13px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 15px #EAEAEA;
    }

    @media (max-width: 780px) {
      width: 50%;
    }
  }

  &__img {
    object-fit: contain;
    margin-bottom: 10px;
  }

  &__title {
    @extend %museo-700;
    font-size: 28px;
    line-height: 34px;
    margin: 0 auto 33px;
    max-width: 663px;
    text-align: center;

    @media (max-width:1300px) {
      font-size: 22px;
      line-height: 30px;
      max-width: 236px;
    }
  }

  &__name {
    @extend %museoSans;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    max-width: 140px;

    @media (max-width:1300px) {
      font-size: 12px;
    }

    @media (max-width: 780px) {
      font-size: 14px;
      max-width: 100px;
    }
  }

  @media (max-width:1300px) {
    max-width: 750px;
    min-width: 750px;
  }

  @media (max-width: 780px) {
    max-width: 450px;
    min-width: 450px;
  }

  @media (max-width: 500px) {
    max-width: 300px;
    min-width: 300px;
  }
}

.bottom {
  position: absolute;
  width: 100%;
  height: 400px;
  bottom: -400px;
}