%museo-500 {
  font-family: 'Museo Cyrl', sans-serif;
  font-weight: 500;
}

%museo-700 {
  font-family: 'Museo Cyrl', sans-serif;
  font-weight: 700;
}

%museoSans {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 500;
}
$accent: #F08B98;
